annotated-doc
annotated-types
anthropic
anyio
CacheControl
certifi
cffi
charset-normalizer
click
colorama
cryptography
distro
docstring_parser
faiss-cpu
fastapi
firebase_admin
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
h2
hpack
httpcore
httptools
httpx
hyperframe
idna
jiter
msgpack
openai
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
python-dotenv
python-multipart
PyYAML
requests
sentence-transformers
rsa
sniffio
starlette
tqdm
typing-inspection
typing_extensions
urllib3
uvicorn
watchfiles
websockets
Whoosh
